<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-row text-platinum gap-8 p-1 w-screen">
    <div class=" w-64 flex-8 text-center">
        Home
    </div>
    <div class="w-64 flex-8 text-center">
        Resources
    </div>
    <div class="w-64 flex-8 text-center">
        Help
    </div>
    </div>
</body>
</html>