<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/build_main.css" />
    <title>Prefrences search</title>
</head>
<body>
    <div class="grid grid-cols-2"> </div>
</body>
</html>