<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/build_main.css" />
    <title>Document</title>
</head>
<body class = "bg-carbon-black">
    <div class="grid grid-cols-1 gap-8 justify-items-center">
        <div class="grid-item header-pos border-4 "> <%- include('partials/header.ejs', sunTzuQuote) %></div>
        <div class="grid-item text-3xl border-4">Nav bar</div>
        <div class="grid-item flex flex-col content-center items-center m-8 p-16 border-4 size-fit bg-platinum shadow-2xl shadow-[5px_5px_0px_0px_rgba(109,40,217)]"> 
            <div class="m-8"><img class="rounded-full shadow-xl/30 outline-double" src="images/main/jitsu_buddies.gif" width="200" height="200"/> </div>
            <div><h1>WELCOME TO JITSU BUDDIES</h1></div>
            <div>
            <p> Jitusu buddies is a social training partner application. Its not a simple trainer partner application.
                You give it your preferences depending on how you like to train and what intensities in order to service those
                that are hobbyists and those that are training for competitions. It does so by asking you a set of questions from your experience
                and belt depending on the martial art. If not belt is given you will be asked how many years of experience you have as well as your academy name.
                The academy name is used to protect academies and their own styles of teachings as well as their competitors.
                The system also offers training with black belts that lets black belts earn money for teaching a group of people as well as one one ones.
                If you are a black belt you will have to submit an application in order to verify your teaching status is legit with your academy.
                The system offers some fun perks that are quests in which if you complete the quests solo or with a group you can earn certain prizes like
                a starbucks, food or discounts in training gear.
                It also lets you find locations where you would need to pay a small fee in order to use the space.
                This spaces are at academies and gyms around your town.
                If there are new academies or places to train at dont hesitate to upload the application in order to verify its a good training place around
                owners are ok with using it as a training ground as well as fees to pay them for hte usage.
                The system also has designated refs and enforcers if users want them to show up to the trianing session to 
                keep track of points and rounds.
                A system of strength training coaches and diet coaches will be available in the future.
            </p>
            </div>
            <div>
                <img src="images/main/openent.png" />
            </div>
        </div>
        <div class="grid-item border-4">Footer</div>
    </div>


</body>