<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/build_main.css" />
    <title>Document</title>
</head>
<body class = "bg-carbon-black">
    <div class="grid grid-cols-1 gap-8 justify-items-center">
        <div class="grid-item header-pos border-4 "> <%- include('partials/header.ejs', sunTzuQuote) %></div>
        <div class="grid-item text-3xl"><%- include('partials/nav_bar.ejs') %></div>
        <div class="grid-item flex flex-col content-center items-center m-8 p-16 border-4 size-fit bg-platinum shadow-2xl shadow-[5px_5px_0px_0px_rgba(220,20,60)]"> 
            <div class="m-8"><img class=" motion-safe:animate-bounce rounded-full shadow-xl/30 outline-double border-2 border-double border-y-classic-crimson border-x-platinum " src="images/main/jitsu_buddies.gif" width="200" height="200"/> </div>
            <div class="font-kanit text-4xl tracking-widest"><h1>WELCOME TO JITSU BUDDIES</h1></div>
            <div>
            <p class="font-kanit m-12 font-light"> 
                <div class="m-4 flex flex-col"> <h2 class="self-center text-2xl">INTRO</h2> Jitus buddies is a social training partner application. Its not a simple trainer partner application.
                You give it your preferences depending on how you like to train and what intensities in order to service those
                that are hobbyists and those that are training for competitions.</div>
                <div class="m-4 flex flex-col">
                    <h2 class="self-center text-2xl" > HOW IT WORKS</h2>
                It asks you a set of questions from your experience
                and belt depending on the martial art. If not belt is given you will be asked how many years of experience you have as well as your academy name.
                The academy name is used to protect academies and their own styles of teachings as well as their competitors. It will then take you to your home page
                and there you can hit search for partners to find partners in your area based on your preferences and skill level. When you find a partner it will ask you to reqeust a meet
                the person your request will get a notification and can either acept the meet at that time or not. You can set meets with coaches and black belts but that will cost a fee. Once the meet has been set you
                will bee given a set of location to vote on for the trianing. You can also create a group session in which a number of people will be notified if thats the preference or you can select specific
                partners from you past or friends partners list. You can set the minimum amount of people you want to attend for sure and the maximum<br>
                </div>
                <div class="m-4 flex flex-col">
                 <h2 class="self-center text-2xl"> BLACK BELT AND COACHING EARNINGS </h2>
                The system also offers training with black belts that lets black belts earn money for teaching a group of people as well as one one ones.
                If you are a black belt you will have to submit an application in order to verify your teaching status is legit with your academy. <br>
                The system offers some fun perks that are quests in which if you complete the quests solo or with a group you can earn certain prizes like
                a starbucks, food or discounts in training gear.<br> 
                </div>
                <div class="m-4 flex flex-col">
                     <h2 class="self-center text-2xl"> TRAINING LOCATIONS </h2>
                It also lets you find locations where you would need to pay a small fee in order to use the space.
                This spaces are at academies and gyms around your town. Some places will be free but can fill up fast other will require a small fee to use.
                If there are new academies or places to train at dont hesitate to upload the application in order to verify its a good training place around
                owners are ok with using it as a training ground as well as fees to pay them for hte usage.
                The system also has designated refs and enforcers if users want them to show up to the trianing session to 
                keep track of points and rounds.<br></div>
                <div class="m-4 flex flex-col">
                    <h2 class="self-center text-2xl"> FUTURE ADDITIONS <h2>
                A system of strength training coaches and diet coaches will be available in the future.
                </div>
            </p>
            </div>
            <div>
                <img src="images/main/openent.png" />
            </div>
        </div>
        <div class="grid-item border-4">Footer</div>
    </div>


</body>