body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
  }
  .main-font{
    font-family: 'kanit', sans-serif;
    color: #171717;
    font-size: 20px;
  }
  
  #map {
    position: absolute;
    height: 400px; 
    width : 500px;
    text-wrap: wrap;
    z-index: 0;
  }
  #container-map{
    height: 410px; 
    width : 510px;
    position: relative;
    margin: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #444444;
  }
  .map-flex-cont{
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  #flex-info{
    display: flex;
  justify-content: center;
  align-items: center;
  }
 #search-cont{
   width: 510px;
   height: 200px;
   background-color: #171717;
   border-width: 5px;
   border-style: solid;
   border-color: #444444;
   padding: 10px;
   margin-bottom: 0px;
   margin-top: 50px;
 }
 .search-flex{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
 }
 .search-item{
    position: relative;
    width: 100px;
    height: 25px;
    font-size: x-small;
    background-color: #444444;
    color: #EDEDED;
    border-radius: 20px;
    box-shadow: 0px 3px #c20131;
 }
 .search-item:hover{
    background-color: #DA0037;
    color: #EDEDED;
    box-shadow: 0px 2px #c20131;
    top: 2px;
 }
 .search-item:active{
    background-color: #DA0037;
    color: #EDEDED;
    box-shadow: none;
    top: 4px;
 }
 #my-location, 
 #search-button{
  width: 200px;
 }
 #hidden-info{
  display: none;
  width: 0px;
  height: 0px;
 }
 .header{
      grid-area: header;
      width: 100%;
      height: 200px;
      margin: 0px;
      background-color:#EDEDED ;
      display: flex;
        justify-content: center;
 }

 .grid-body{
  grid-area: content;
  background-color:#EDEDED ;
 }
 body{
    display: grid;
      grid-gap: 5px;
      grid-template-columns: 250px auto auto;
      grid-template-areas:
      "animation header header"
      "navbar navbar navbar"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
 }
 #navigation-bar{
  grid-area: navbar;
}

#search-bar-tit{
  text-align: center;
  margin-bottom: 30px;
  font-family: 'kanit';
  color: white
}
.custom-navbar{
  background-color: #171717;
}
#nav-bar-cont{
  grid-area: sidebar;
  background-color: none;
  margin: 0px;
  display: flex;
  align-items: center;
  row-gap: 0px;
  width: fit-content;
}
.nav-item{
  cursor: pointer;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-family: 'kanit', sans-serif;
  font-size: 20px;
  box-shadow: 0, 2px,#EDEDED;
}
.nav-item:active{
color: #DA0037;
}
.nav-item:hover{
  color: #d6355d;
}
.close-arrow-cont{
  justify-self: flex-start;
  width: 30px;
  height: 100%;
  display: flex;
  padding: 0%;
  margin: 0px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}
.close-arrow-cont:hover{
  background-color: #EDEDED;
  width: 50px;
}
.close-arrow-cont:active{
  background-color: #EDEDED;
  width: 50px;
}
.close-arrow{
  margin: 0px;
  padding: 0%;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 20px;
  background-color: #EDEDED;
  color: #EDEDED;
  border-width: 10px;
  border-color: #171717;
  position: relative;
  top:0px
}
.nav-bar-opt{
  background-color: #171717;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  border-radius: 15px;
}
#arrow-svg{
  margin: 1px;
  padding: 1px;
  cursor: pointer;
  border-width: 20px;
  border-color: #171717;
  width: 40px;
  height: 50px;
  color: #EDEDED;
  background-color: #EDEDED;
  border-radius: 20px;
}
#arrow-svg:active{
  color: #DA0037;
  background-color: #EDEDED;
  border-width: 10px;
  width: 40px;
  height: 50px;
  border-radius: 20px;
}