body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
  }
  .main-font{
    font-family: 'kanit', sans-serif;
    color: #171717;
    font-size: 20px;
  }
  
  #map {
    position: absolute;
    height: 400px; 
    width : 500px;
    text-wrap: wrap;
    z-index: 0;
  }
  #container-map{
    height: 410px; 
    width : 510px;
    position: relative;
    margin: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #444444;
  }
  .map-flex-cont{
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  #flex-info{
    display: flex;
  justify-content: center;
  align-items: center;
  }
 #search-cont{
   width: 510px;
   height: 200px;
   background-color: #171717;
   border-width: 5px;
   border-style: solid;
   border-color: #444444;
   padding: 10px;
   margin-bottom: 0px;
   margin-top: 50px;
 }
 .search-flex{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
 }
 .search-item{
    position: relative;
    width: 100px;
    height: 25px;
    font-size: x-small;
    background-color: #444444;
    color: #EDEDED;
    border-radius: 20px;
    box-shadow: 0px 3px #c20131;
 }
 .search-item:hover{
    background-color: #DA0037;
    color: #EDEDED;
    box-shadow: 0px 2px #c20131;
    top: 2px;
 }
 .search-item:active{
    background-color: #DA0037;
    color: #EDEDED;
    box-shadow: none;
    top: 4px;
 }
 #my-location, 
 #search-button{
  width: 200px;
 }
 #hidden-info{
  display: none;
  width: 0px;
  height: 0px;
 }
 .header{
      grid-area: header;
      width: 100%;
      height: 200px;
      margin: 0px;
      background-color:#EDEDED ;
      display: flex;
        justify-content: center;
 }
 #nav-bar-cont{
      grid-area: sidebar;
      background-color: black;
      margin: 0px;
 }
 .grid-body{
  grid-area: content;
  background-color:#EDEDED ;
 }
 body{
    display: grid;
      grid-gap: 5px;
      grid-template-columns: 250px auto auto;
      grid-template-areas:
      "animation header header"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
 }

#search-bar-tit{
  text-align: center;
  margin-bottom: 30px;
  font-family: 'kanit';
  color: white
}